/** @format */

body {
  background-color: rgb(8, 28, 83);
}

.robot-container {
  position: fixed;
  background-color: beige;
  height: 65%;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
}

.robot-face-shape {
  position: fixed;
  background: linear-gradient(45deg, #475ddb, #fbd786, #f7797d);
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20%;
}

.robot-eye-left {
  position: absolute;
  left: 18%;
  top: 15%;
  height: 150px;
  width: 150px;
  background-image: url("https://picsum.photos/id/870/200/300?grayscale&blur=2");
  background-size: 100%;
  background-color: blueviolet;
  border-radius: 50%;
}

.robot-eye-right {
  position: relative;
  left: 65%;
  top: 15%;
  height: 150px;
  width: 115px;
  background-color: yellow;
  border-radius: 75%;
}

.robot-ear-left {
  position: relative;
  left: -20%;
  top: 30%;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid green;
  border-bottom: 50px solid transparent;
}

.robot-ear-right {
  position: relative;
  left: 105%;
  top: 20%;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid red;
  border-bottom: 50px solid transparent;
}

.robot-nose {
  box-shadow: 0 0 0 1em red, 0 1em 0 1em red, -2.5em 1.5em 0 0.5em red,
    2.5em 1.5em 0 0.5em red, -3em -3em 0 0 red, 3em -3em 0 0 red,
    -2em -2em 0 0 red, 2em -2em 0 0 red, -3em -1em 0 0 red, -2em -1em 0 0 red,
    2em -1em 0 0 red, 3em -1em 0 0 red, -4em 0 0 0 red, -3em 0 0 0 red,
    3em 0 0 0 red, 4em 0 0 0 red, -5em 1em 0 0 red, -4em 1em 0 0 red,
    4em 1em 0 0 red, 5em 1em 0 0 red, -5em 2em 0 0 red, 5em 2em 0 0 red,
    -5em 3em 0 0 red, -3em 3em 0 0 red, 3em 3em 0 0 red, 5em 3em 0 0 red,
    -2em 4em 0 0 red, -1em 4em 0 0 red, 1em 4em 0 0 red, 2em 4em 0 0 red;
  background: red;
  width: 1em;
  height: 1em;
  overflow: hidden;
  margin: 50px 0 70px 65px;
  position: relative;
  left: 40%;
  top: 20%;
}

.robot-teeth {
  position: absolute;
  left: 22%;
  top: 60%;
  width: 390px;
  height: 200px;
  border: 5px;
  border-color: red;
  background-color: bisque;
  border-radius: 25%;
  opacity: 75%;
}

.robot-tooth1 {
  position: relative;
  left: 40px;
  top: 30px;
  width: 100px;
  height: 50px;
  border-radius: 194px 100px 68px 121px / 70px 70px 0px 0px;
  background: white;
}
.robot-tooth2 {
  position: absolute;
  left: 150px;
  top: 30px;
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 68px 121px / 70px 70px 0px 0px;
  background: white;
}
.robot-tooth3 {
  position: absolute;
  left: 260px;
  top: 30px;
  width: 100px;
  height: 50px;
  border-radius: 100px 194px 68px 121px / 70px 70px 0px 0px;
  background: white;
}
.robot-tooth4 {
  position: relative;
  left: 40px;
  top: 50px;
  width: 100px;
  height: 50px;
  border-radius: 4px 0px 235px 400px / 0px 0px 147px 150px;
  background: white;
}
.robot-tooth5 {
  position: absolute;
  left: 150px;
  top: 100px;
  width: 100px;
  height: 50px;
  border-radius: 4px 0px 400px 400px / 0px 0px 150px 150px;
  background: white;
}
.robot-tooth6 {
  position: absolute;
  left: 260px;
  top: 100px;
  width: 100px;
  height: 50px;
  border-radius: 0px 4px 400px 253px / 0px 0px 147px 150px;
  background: white;
}

.robot-hair-style {
  position: absolute;
  left: 30px;
  top: -15%;
  width: 700px;
  height: 120px;
  border: 5px;
}

.robot-hair-one {
  position: absolute;
  left: 70px;
  bottom: 20px;
  width: 150px;
  height: 60px;
  background-color: white;
}

.robot-hair-two {
  position: fixed;
  left: 300px;
  top: -145px;
  width: 150px;
  height: 120px;
  background-color: green;
}

.robot-hair-three {
  position: relative;
  left: 450px;
  top: 37px;
  width: 150px;
  height: 60px;
  background-color: blue;
}
